<a href="https://colab.research.google.com/github/sharon-nasimiyu/Data-Cleaning/blob/main/changing_data_types_in_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
import numpy as np

In [59]:
data ={'string_col' : ['1','2', '3','4'],
        'int_float' : [1, 2, 3.2, 4.6],
        'mix_col' : ['a', '-2', 3, 4],
        'missing' :[1,2,3,np.nan],
        'money' : ['$1,500.00', '$3,436.99', '$958.99','$1,198.00']
}

In [60]:
df = pd.DataFrame(data=data) #dtype=np.int8
#make a second df for demonstration purposes
df1 = pd.DataFrame(data = data)

In [18]:
df.head()

   string_col  int_float mix_col      money
0           1          1       a  $1,500.00
1           2          2      -2  $3,436.99
2           3          3       3    $958.99
3           4          4       4  $1,198.00

In [12]:
df.dtypes

string_col     object
int_float     float64
mix_col        object
money          object
dtype: object

In [13]:
#convertion of datatypes
df['string_col'] = df['string_col'].astype(int) #this converts this to int
'''a mixture of foat and integers will automatically bring float \
so for int_float will bring automatucally float\
a mixture of string and numbers will always be converted to ibjects\
if we have a mixture of a missing value that will be converted to float
In covertion int = integer, float = float, string = str'''

df['string_col'].dtypes

dtype('int64')

In [32]:
df['int_float'] = df['int_float'].astype(int)
df['int_float'].dtypes

dtype('int64')

In [33]:
#check the data again to see how it looks like aftert converttion
df.head()

  string_col  int_float mix_col  missing      money
0          1          1       a      1.0  $1,500.00
1          2          2      -2      2.0  $3,436.99
2          3          3       3      3.0    $958.99
3          4          4       4      NaN  $1,198.00

In [41]:
#after covertion the column was rounded to column numbers
#idealy its good but when doing scale rating its nbot for instance someone who has  
#a 4.6 has gone to 4 that is anything with a 4. is a 4
#to tackel this add round so as it gives you the decimal points yoyu want
df['int_float'] = df['int_float'].round(0).astype(int) #this one should solve if 0 means to whole number, 1 one decimal et.c
df['int_float'].dtypes
df.head()

  string_col  int_float mix_col  missing      money
0          1          1       a      1.0  $1,500.00
1          2          2      -2      2.0  $3,436.99
2          3          3       3      3.0    $958.99
3          4          4       4      NaN  $1,198.00

In [38]:
#df['mix_col'] = df['mix_col'].astypes(int) # this will show you an error because of a
'''now we opt pd.numeric, but now we will use dfa
on the previous columns that we have used to see what happens'''
df1['string_col'] = pd.to_numeric(df1['string_col'])
df1['string_col'].dtypes #perfect

dtype('int64')

In [44]:
df1['int_float'] = pd.to_numeric(df1['int_float']) #but this will bring a float
#solution
df1['int_float'] = pd.to_numeric(df1['int_float'], downcast = 'integer') #this only doest solve works only for .0 and nothing else for 0.1 et.c
df1['int_float'].dtypes
#what is rounded to 0 dec place?
df1['int_float'].round(0)
#solution

0    1.0
1    2.0
2    3.0
3    5.0
Name: int_float, dtype: float64

In [46]:
#solution
df1['int_float'] = pd.to_numeric(df1['int_float'].round(0), downcast = 'integer')
df1['int_float'].dtype #solved

dtype('int8')

In [48]:
#to our problem- the mixxed column
df1['mix_col'] = pd.to_numeric(df1['mix_col'], errors = 'coerce')
#coerce is used to force any string into nan value
df1['mix_col'].dtypes

dtype('float64')

In [65]:
#solution
df1['mix_col'] = pd.to_numeric(df1['mix_col'], errors = 'coerce').astype('Int64') #this forces any na to pandas value
#i.e Now uses pandas.NA as the missing value rather than numpy.nan - notice capital I in integer
df1['mix_col'].dtypes

Int64Dtype()

In [66]:
df1.head()

  string_col  int_float  mix_col  missing      money
0          1        1.0     <NA>      1.0  $1,500.00
1          2        2.0       -2      2.0  $3,436.99
2          3        3.2        3      3.0    $958.99
3          4        4.6        4      NaN  $1,198.00

In [69]:
#alternative fill the NA value with any number of your choice
#df1['mix_col'] = pd.to_numeric(df1['mix_col'], errors = 'coerce').fillna(0).astype('Int64')
#df1['mix_col'] #not much recommned this will deal with when dealing with missing values

In [70]:
#the dollar string and the comma makes it hard for it to be converted into an int directly
df1['money_replace'] = df1['money'].str.replace('$', '').str.replace(',', '')
'''we have replace the symbol and the comma with nothing so as we can just have the values'''

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

'we have replace the symbol and the comma with nothing so as we can just have the values'

In [71]:
df1['money_replace']

0    1500.00
1    3436.99
2     958.99
3    1198.00
Name: money_replace, dtype: object

In [74]:
df1['money_replace'] = pd.to_numeric(df1['money_replace'])
df1['money_replace']

0    1500.00
1    3436.99
2     958.99
3    1198.00
Name: money_replace, dtype: float64

In [76]:
#alternative -using regex expression(regex = regular expressions)
df1['money_regex'] = df1['money'].str.replace('[\$\,]', '', regex = True ) #basically its saying replace both $ and , with nothing
df1['money_regex']

0    1500.00
1    3436.99
2     958.99
3    1198.00
Name: money_regex, dtype: object

In [79]:
#changing the datatype into float
df1['money_regex'] = pd.to_numeric(df1['money_regex'])
df1['money_regex']

0    1500.00
1    3436.99
2     958.99
3    1198.00
Name: money_regex, dtype: float64