<a href="https://colab.research.google.com/github/sharon-nasimiyu/Data-Cleaning/blob/main/Data_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data ={'string_col' : ['1','2', '3','4'],
        'int_float' : [1, 2, 3.2, 4.6],
        'mix_col' : ['a', '-2', 3, 4],
        'missing' :[1,2,3,np.nan],
        'money' : ['$1,500.00', '$3,436.99', '$958.99','$1,198.00']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

  string_col  int_float mix_col  missing      money
0          1        1.0       a      1.0  $1,500.00
1          2        2.0      -2      2.0  $3,436.99
2          3        3.2       3      3.0    $958.99
3          4        4.6       4      NaN  $1,198.00

In [ ]:
#filtering out data that ha only one certain x-tics
df['int_float'] == 2

0    False
1     True
2    False
3    False
Name: int_float, dtype: bool

In [ ]:
filt = (df['int_float'] == 2)

In [ ]:
df[filt]

  string_col  int_float mix_col  missing      money
1          2        2.0      -2      2.0  $3,436.99

In [ ]:
#option 2
df.loc[filt]

  string_col  int_float mix_col  missing      money
1          2        2.0      -2      2.0  $3,436.99

In [ ]:
#if you want filterimng with an extra conditions also
df.loc[filt, 'string_col']

1    2
Name: string_col, dtype: object

In [ ]:
# & = and, | = or
filt = (df['int_float'] == '2') & (df['mix_col'] == '-2')

In [ ]:
df.loc[filt]

Empty DataFrame
Columns: [string_col, int_float, mix_col, missing, money]
Index: []

In [ ]:
filt = (df['int_float'] == '2') | (df['mix_col'] == '-2')

In [ ]:
df.loc[filt]

  string_col  int_float mix_col  missing      money
1          2        2.0      -2      2.0  $3,436.99

In [ ]:
#this works with large data but since we havent loaded might practice on large data just get the skils
high_ranks = (df['int_float'] > 2)

In [ ]:
df.loc[high_ranks]

  string_col  int_float mix_col  missing      money
2          3        3.2       3      3.0    $958.99
3          4        4.6       4      NaN  $1,198.00

In [ ]:
#when we want to have extra conditions
df.loc[high_ranks, ['money', 'string_col']]

       money string_col
2    $958.99          3
3  $1,198.00          4

In [ ]:
#if yiu want to filt out some x-tics in a certain column
numbers =  ['1','2']
filt = df['string_col'].isin(numbers)

In [ ]:
df.loc[filt, 'string_col']

0    1
1    2
Name: string_col, dtype: object

In [ ]:
#when you want to use string to check inside a column which has certain characer in a column
# - filt = df['LangaugeWorkedWith'].string.contains('python', na = False)
#false is used in places where we have missing values in the data which might bring errors